.keybase {
  background-image: url('../assets/icons/keybase.png');
}

.consumerreports {
  background-image: url('../assets/icons/consumerreports.png');
}

.icon.logo {
  background-image: url('../assets/placeholder/circle.png');
}

.signal {
  background-image: url('../assets/icons/signal.png');
}

.firefox {
  background-image: url('../assets/icons/firefox.png');
}

.bitwarden {
  background-image: url('../assets/icons/bitwarden.png');
}

.standardnotes {
  background-image: url('../assets/icons/standardnotes.png');
}

.authy {
  background-image: url('../assets/icons/authy.png');
}

.ssd {
  background-image: url('../assets/icons/ssd.png');
}

@media (prefers-color-scheme: light) {
  .tor {
    background-image: url('../assets/icons/lm-tor.png');
  }

  .skiff {
    background-image: url('../assets/icons/lm-skiff.png');
  }

  .fpf {
    background-image: url('../assets/icons/lm-fpf.png');
  }

  .protonmail {
    background-image: url('../assets/icons/lm-protonmail.png');
  }

  .vpn {
    background-image: url('../assets/icons/lm-vpn.png');
  }

  .times {
    background-image: url('../assets/icons/lm-times.png');
  }

  .guides {
    background-image: url('../assets/icons/lm-privacyguides.png');
  }

  .umbrella {
    background-image: url('../assets/icons/lm-umbrella.png');
  }
}

@media (prefers-color-scheme: dark) {
  .tor {
    background-image: url('../assets/icons/dm-tor.png');
  }

  .skiff {
    background-image: url('../assets/icons/dm-skiff.png');
  }

  .protonmail {
    background-image: url('../assets/icons/dm-protonmail.png');
  }

  .times {
    background-image: url('../assets/icons/dm-times.png');
  }

  .icon.logo {
    background-image: url('../assets/placeholder/circle.png');
  }

  .fpf {
    background-image: url('../assets/icons/dm-fpf.png');
  }

  .vpn {
    background-image: url('../assets/icons/dm-vpn.png');
  }

  .guides {
    background-image: url('../assets/icons/dm-privacyguides.png');
  }

  .umbrella {
    background-image: url('../assets/icons/dm-umbrella.png');
  }
}
