@import "sat-animation.css";
@import "icons.css";
@import "header.css";
@import "notification.css";

@-moz-document url-prefix() {
  :root {
    font-family: Helvetica, Arial, sans-sans-serif !important;
  }

  .headline p {
    font-family: Helvetica, Arial, sans-sans-serif !important;
    font-weight: bold;
  }

  .parent {
    font-family: Helvetica, Arial, sans-sans-serif !important;
    font-weight: bold;
  }

  p.badge {
    font-family: Helvetica, Arial, sans-sans-serif !important;
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-sans-serif !important;
    font-weight: bold;
  }
}
