@media (prefers-color-scheme: light) {
  .articleIntro div > * {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(255, 255, 255, .8) !important;
  }

  .articleIntro .meta {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(255, 255, 255, .8) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .articleIntro div > * {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(51, 51, 51, .8) !important;
  }

  .articleIntro .meta {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(51, 51, 51, .8) !important;
  }
}

.articleIntro h1 {
  padding: var(--spacing-large) var(--spacing-xlarge);
  font-weight: bold;
  font-family: var(--font-serif);
  margin-bottom: var(--spacing-small);
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  background: initial;
}

.articleIntro p {
  padding: var(--spacing-small) var(--spacing-xlarge);
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
}

.authorName {
  font-weight: bold;
}

.articleIntro p:last-of-type {
  margin-bottom: var(--spacing-large);
}

.articleIntro {
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%); */
  background: none;
  margin-bottom: calc(var(--spacing-xxlarge) * 1.5);
  position: relative;
  overflow: hidden;
  display: flex;
  padding-top: calc(var(--spacing-xxlarge) * 2.25);
  padding-bottom: calc(var(--spacing-xxlarge) * 2.25);
}

.articleIntro::after {
  background-image: url('../../../assets/examples/background.svg');
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.articleIntro>div {
  margin-left: calc(var(--spacing-xlarge) * -1);
  width: max-content;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
  .articleIntro h1 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  padding: var(--spacing-medium) var(--spacing-medium)  var(--spacing-medium)  var(--spacing-xlarge);

  }

  .articleIntro p {
    padding: var(--spacing-small) var(--spacing-xlarge);
  }
}
