@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

.intro .meta a {
  margin-top: 0 !important;
}

.intro {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
}

.intro.wrapper {
  border-bottom: none !important;
}

.intro h1 {
  max-width: 80%;
}

.intro p {
  font-size: calc(var(--font-size-body) * 1.125);
  max-width: max-content;
}

.intro p a {
  margin: var(--spacing-base) 0 0 0;
  display: inline-block;
}

.intro>div {
  width: 100%;
}

.intro>nav {
  margin-bottom: 0;
}

.withNav {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 960px) {
  .intro>* {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 480px) {
  .intro {
    position: relative;
  }

  .intro h1 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 375px) {}
