@media (prefers-color-scheme: light) {
  .secondaryIntro {
    background-color: var(--color-shade);
  }
}

@media (prefers-color-scheme: dark) {
  .secondaryIntro {
    background-color: var(--color-dark-1);
  }
}

.secondaryIntro p:last-of-type{
  margin-bottom: 0 !important;
}

.secondaryIntro.withNav {
  height: auto !important;
  margin-bottom: 0 !important;
}

.secondaryIntro {
  margin-top: 88px;
  height: auto !important;
  padding-top: calc(var(--spacing-xxlarge) * 2.5);
  padding-bottom: calc(var(--spacing-xxlarge) * 2.5);
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
}

.secondaryIntro h1 {
  font-size: calc(var(--font-size-1) * .75);
  line-height: calc(var(--line-height-1) * .75);
  margin-bottom: calc(var(--spacing-medium) * .75);
  letter-spacing: -.0125rem;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 960px) {
  .secondaryIntro {
    padding-top: calc(var(--spacing-xxlarge) * 2);
    padding-bottom: calc(var(--spacing-xxlarge) * 2);
  }
}

@media only screen and (min-height: 768px) {
  .secondaryIntro {
    padding-top: calc(var(--spacing-xxlarge) * 3.5) !important;
    padding-bottom: calc(var(--spacing-xxlarge) * 3.5) !important;
  }
}

@media only screen and (min-height: 900px) {
  .secondaryIntro {
    padding-top: calc(var(--spacing-xxlarge) * 4) !important;
    padding-bottom: calc(var(--spacing-xxlarge) * 4) !important;
  }
}

@media only screen and (min-height: 1024px) {
  .secondaryIntro {
    padding-top: calc(var(--spacing-xxlarge) * 5) !important;
    padding-bottom: calc(var(--spacing-xxlarge) * 5) !important;
  }
}

@media only screen and (max-width: 640px) {
  .secondaryIntro h1 {
    font-size: calc(var(--font-size-1) * .6);
    line-height: calc(var(--line-height-1) * .6);
    margin-bottom: calc(var(--spacing-large) * .6);
  }
}

@media only screen and (max-width: 480px) {
  .secondaryIntro h1 {
    font-size: calc(var(--font-size-1) * .6);
    line-height: calc(var(--line-height-1) * .6);
    margin-bottom: calc(var(--spacing-large) * .6);
  }
}

@media only screen and (max-width: 375px) {
  .secondaryIntro {
    padding-top: calc(var(--spacing-xxlarge) * 1.5);
    padding-bottom: calc(var(--spacing-xxlarge) * 1.5);
  }
}
